<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MyCms{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <h1>MyCms</h1>
        </header>
        {% block body %}
                {% block arianne %}
                    Accueil
                {% endblock %}

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
