{% extends "::base.html.twig" %}
{% block body %}
    <a href="{{ path('blog_add_post') }}">Ajouter un évenement</a>
    <h1>Tous les évenements</h1>
    {%  for post in posts %}
        {% include 'BlogBundle:Post:post_content.html.twig' %}
    {% endfor %}

{% endblock %}